{% extends '::layout.html.twig' %}
{% block contents %}
    <div class="boxMy szerokie">
        <div id="boxMyinside">
            <h3 class="szaryKlocek">Nie masz uprawnień do oglądania tej strony.</h3>
        </div> 
    </div>
{% endblock %}    
