{% extends '@Trenning/Default/base.html.twig' %}
{% block body %}


 {#challenge3-2 - NACIŚNIJ GUZIK I WYŚWIETL ZAWARTOŚĆ PLIKU PHP#}
 {#<div id="main">#}
  {#This is the original text when the page first loads.#}
 {#</div>#}
 {#<button id="ajax-button" type="button">Update content with Ajax</button>#}
 {#<script>#}
  {#$("#ajax-button").click(function () {#}
   {#$.ajax({#}
    {#url: '{{ absolute_url(asset('bundles/trenning/Utils/2016LyndaAjaxWithPHP/Chapter_03/03_02/ajax_html/new_content.php')) }}',#}
    {#success: function(result) {#}
     {#console.log(result);#}
     {#$("#main").text(result);#}
    {#},#}
    {#error: function () {#}
     {#$("#main").text("chuj")#}
    {#}#}
   {#});#}
  {#})#}
 {#</script>#}


 {#challenge3-4#}
 <div id="form">
  <p>Which category are you interested in?</p>
  <select id="category-select">
   <option disabled selected>Please select</option>
   <option value="1">Furniture</option>
   <option value="2">Lighting</option>
   <option value="3">Accessories</option>
  </select>
  <select style="display:none;" id="subcategory-select">
  </select>
 </div>
 <script>
  $("#category-select").change(function () {
   $("#subcategory-select").html("");
   $("#subcategory-select").attr("style","inline");
   $.ajax({
    url: '{{ absolute_url(asset('bundles/trenning/Utils/2016LyndaAjaxWithPHP/Chapter_03/03_04/ajax_categoryselect/subcategories.php')) }}',
    success: function(result) {
     result = $.parseJSON(result);
     $.each(result,function (key,data) {
      if (data.id == $("#category-select").val()) {
       $.each(data.subcategories, function (index, data) {
        $("#subcategory-select").append("<option value='" + data.id + "'>" + data.name + "</option>");
       })
      }
      });
    },
    error: function () {
     $("#main").text("chuj")
    }
   });
  })
 </script>





















{% endblock body %}

